.nav-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}

.nav-links ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-links ul li{
    margin: 20px;
}

.nav-search{
    margin-top: 15px;
}

.search-box{
    padding: 8px;
    border-radius: 15px;
    width: 300px;
}

.nav-admin{
    margin: 15px 0px;
}

.nav-cart{
    margin: 20px 0px;
}