.product-main{
    height: 78vh;
}

.stores{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.Head{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product-head{
    display: flex;
    flex-direction: row;
    margin: 10x 30px;
    background-color: rgb(247, 202, 202);
    justify-content: space-around;
    border-radius: 70px;
    box-shadow: 1.5px 2px #000000;
}

.head-txt h3{
    margin-top: 60px;
    font-size: 70px;
    text-shadow: 2px 2px #000000;
}

.old-products{
    display: flex;
    flex-direction: column;
}

.oldprod-main{
    display: flex;
    justify-content:center;
}

.prod-img{
    width: 100px;
}

.prod{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}